<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      Firebase File Upload
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Select a file for upload:
      </h5>
      <input type="file" accept=".mp3, .mp4, .jpg" class="form-control-file" (change)="upload($event.target.files)">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary ml-3" (click)="store()">Store</button>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
      [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
    File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
  </div>
</div>