<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- side bar  -->
    <div class="col-2 col-sm-3 sidebar">
      <div class="side-bar-content">
        <div class="d-flex flex-row align-items-center mx-4 mt-4">
          <div class="logo mr-3">
            <img src="../../../assets/images/big-logo.jpg" class="img-responsive center-block" alt="Logo">
          </div>
          <div class="text-center text-light">
            <h2 class="brand">mosmuse</h2>
          </div>
        </div>
        <br>
        <div class="left-navigation">
          <ul class="list">
            <h6 class="font-weight-normal">BROWSE MUSIC</h6>
            <li routerLinkActive="active" routerLink="./home"><i class="fa fa-home"></i> Home</li>
            <li routerLinkActive="active" routerLink="./genres"><i class="fa fa-diamond"></i> Genres</li>
            <li routerLinkActive="active" routerLink="./artists"><i class="fa fa-microphone"></i> Artists</li>
            <li routerLinkActive="active" routerLink="./albums"><i class="fa fa-music"></i> Albums</li>
          </ul>
          <br>
          <ul class="list">
            <h6 class="font-weight-normal">YOUR MUSIC</h6>
            <li routerLinkActive="active" routerLink="./favorites"><i class="fa fa-heart-o"></i> Favorites</li>
            <li routerLinkActive="active" routerLink="./playlists"><i class="fa fa-list"></i> Play Lists</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- main content -->
    <div class="col main-content p-0">
      <app-header [shrink]="shrinkHeader"></app-header>
      <div class="banner">
      </div>
      <div class="main-page-container text-muted text-center">
        <router-outlet></router-outlet>
      </div>
      
      <div class="footer">
        <div class="row pt-5 mx-0">
          <div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <a href="http://www.mostafaakbari.com/">
              <h1 class="footer-link">www.mostafaakbari.com</h1>
            </a>
            <div class="d-flex flex-row justify-content-around mt-5">
              <div
                class="cursor-pointer btn-platform btn-platform-dark d-flex flex-row justify-content-center align-items-center">
                <i class="fa fa-2x fa-android text-white mx-2"></i>
                <div class="d-flex flex-column align-items-start justify-content-center py-2">
                  <p class="text-white mb-0 font-weight-lighter">Available on</p>
                  <p class="text-uppercase mb-0 text-white">Android</p>
                </div>
              </div>
              <div
                class="cursor-pointer btn-platform btn-platform-red d-flex flex-row justify-content-center align-items-center">
                <i class="fa fa-2x fa-apple text-white mx-2"></i>
                <div class="d-flex flex-column align-items-start justify-content-center py-2">
                  <p class="text-white mb-0 font-weight-lighter">Available on</p>
                  <p class="text-uppercase mb-0 text-white">App store</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- music player panel -->
      <app-music-player (showNowPlaying)="onOpenNowPlaying()"></app-music-player>

      <!-- now playing -->
      <div class="now-playing-container" #nowPlayingList [ngClass]="{'show': showNowPlaying}">
        <div class="text-center header-now-playing">
          <p>Now Playing</p>
        </div>
        <div class="now-playing-list">
          <ul class="gradient-list">
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/1.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/6.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/3.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/1.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/6.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/3.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
              <div class="list-badge-container">
                <img src="../../../assets/images/1.jpg" class="list-badge-image">
              </div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>