<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- side bar  -->
    <div class="col-2 col-sm-3 sidebar">
      <div class="side-bar-content">
        <div class="d-flex flex-row align-items-center mx-4 mt-4">
          <div class="logo mr-3">
            <img src="../../../assets/images/big-logo.jpg" class="img-responsive center-block" alt="Logo">
          </div>
          <div class="text-center text-light">
            <h2 class="brand">mosmuse</h2>
          </div>
        </div>
        <br>
        <div class="left-navigation">
          <ul class="list">
            <h6 class="font-weight-normal">BROWSE MUSIC</h6>
            <li class="active"><i class="fa fa-home"></i> Home</li>
            <li><i class="fa fa-diamond"></i> Genres</li>
            <li><i class="fa fa-microphone"></i> Artists</li>
            <li><i class="fa fa-music"></i> Albums</li>
          </ul>
          <br>
          <ul class="list">
            <h6 class="font-weight-normal">YOUR MUSIC</h6>
            <li><i class="fa fa-heart-o"></i> Favorites</li>
            <li><i class="fa fa-list"></i> Play Lists</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- main content -->
    <div class="col main-content p-0">
      <app-header [shrink]="shrinkHeader" ></app-header>
      <div class="banner">
      </div>
      <div class="main-page-container text-muted text-center">
        <app-song-item></app-song-item>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim velit assumenda temporibus quas, eaque
          optio tenetur aut voluptas odio totam illum ab recusandae quos error. Porro totam explicabo repellendus!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dignissimos blanditiis voluptates
          aspernatur vel qui iste expedita dicta iure cupiditate quam magni labore ipsum libero eaque laudantium
          doloribus? Assumenda eius facere atque esse iure autem, rerum eligendi? Unde explicabo quas modi molestiae
          tenetur inventore tempore velit pariatur veniam rem excepturi, repellat eligendi voluptatibus voluptates illum
          beatae sunt tempora dolorem dolorum facere blanditiis voluptatum quos placeat consectetur. Eos nobis est
          obcaecati quas in illo eveniet animi incidunt vel repellendus asperiores, illum facilis temporibus ea quidem
          quasi tenetur nam aliquam tempora consectetur minus sint quos! Dignissimos cumque ad amet corrupti odio
          repellendus?
        </p>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim velit assumenda temporibus quas, eaque
          optio tenetur aut voluptas odio totam illum ab recusandae quos error. Porro totam explicabo repellendus!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dignissimos blanditiis voluptates
          aspernatur vel qui iste expedita dicta iure cupiditate quam magni labore ipsum libero eaque laudantium
          doloribus? Assumenda eius facere atque esse iure autem, rerum eligendi? Unde explicabo quas modi molestiae
          tenetur inventore tempore velit pariatur veniam rem excepturi, repellat eligendi voluptatibus voluptates illum
          beatae sunt tempora dolorem dolorum facere blanditiis voluptatum quos placeat consectetur. Eos nobis est
          obcaecati quas in illo eveniet animi incidunt vel repellendus asperiores, illum facilis temporibus ea quidem
          quasi tenetur nam aliquam tempora consectetur minus sint quos! Dignissimos cumque ad amet corrupti odio
          repellendus?
        </p>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim velit assumenda temporibus quas, eaque
          optio tenetur aut voluptas odio totam illum ab recusandae quos error. Porro totam explicabo repellendus!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dignissimos blanditiis voluptates
          aspernatur vel qui iste expedita dicta iure cupiditate quam magni labore ipsum libero eaque laudantium
          doloribus? Assumenda eius facere atque esse iure autem, rerum eligendi? Unde explicabo quas modi molestiae
          tenetur inventore tempore velit pariatur veniam rem excepturi, repellat eligendi voluptatibus voluptates illum
          beatae sunt tempora dolorem dolorum facere blanditiis voluptatum quos placeat consectetur. Eos nobis est
          obcaecati quas in illo eveniet animi incidunt vel repellendus asperiores, illum facilis temporibus ea quidem
          quasi tenetur nam aliquam tempora consectetur minus sint quos! Dignissimos cumque ad amet corrupti odio
          repellendus?
        </p>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim velit assumenda temporibus quas, eaque
          optio tenetur aut voluptas odio totam illum ab recusandae quos error. Porro totam explicabo repellendus!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dignissimos blanditiis voluptates
          aspernatur vel qui iste expedita dicta iure cupiditate quam magni labore ipsum libero eaque laudantium
          doloribus? Assumenda eius facere atque esse iure autem, rerum eligendi? Unde explicabo quas modi molestiae
          tenetur inventore tempore velit pariatur veniam rem excepturi, repellat eligendi voluptatibus voluptates illum
          beatae sunt tempora dolorem dolorum facere blanditiis voluptatum quos placeat consectetur. Eos nobis est
          obcaecati quas in illo eveniet animi incidunt vel repellendus asperiores, illum facilis temporibus ea quidem
          quasi tenetur nam aliquam tempora consectetur minus sint quos! Dignissimos cumque ad amet corrupti odio
          repellendus?
        </p>
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi enim velit assumenda temporibus quas, eaque
          optio tenetur aut voluptas odio totam illum ab recusandae quos error. Porro totam explicabo repellendus!
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dignissimos blanditiis voluptates
          aspernatur vel qui iste expedita dicta iure cupiditate quam magni labore ipsum libero eaque laudantium
          doloribus? Assumenda eius facere atque esse iure autem, rerum eligendi? Unde explicabo quas modi molestiae
          tenetur inventore tempore velit pariatur veniam rem excepturi, repellat eligendi voluptatibus voluptates illum
          beatae sunt tempora dolorem dolorum facere blanditiis voluptatum quos placeat consectetur. Eos nobis est
          obcaecati quas in illo eveniet animi incidunt vel repellendus asperiores, illum facilis temporibus ea quidem
          quasi tenetur nam aliquam tempora consectetur minus sint quos! Dignissimos cumque ad amet corrupti odio
          repellendus?
        </p>
      </div>
      <!-- music player panel -->
      <app-music-player></app-music-player>
    </div>
  </div>
</div>